body {
    background-color: #252525;
}

#container {
    background: linear-gradient(90deg, rgba(244,96,4,1) 0%, rgba(180,22,5,1) 28%, rgba(162,29,121,1) 68%, rgba(1,153,151,1) 100%) no-repeat;
    background-size: 100% 70%;
}

header {
    background-color: #25252530;
    color: #ffffff;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav > h1 {
    font-size: 2em;
    font-weight: 500;
}

.rondknop {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border: none;
}